# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/

# Project data
DATA/
*.h5

# Model checkpoints
checkpoints/